<div id="multiSelectActions" class="action-button-container hidden">
    <button id="multiSelectFab" class="fab-button">
        <i class="fas fa-ellipsis-v"></i>
    </button>
    <div id="multiSelectMenu" class="action-menu">
        <button id="selectAllFilesButton" class="action-menu-item">
            <i class="fas fa-check-double"></i> Select All
        </button>
        <button id="downloadSelectedButton" class="action-menu-item">
            <i class="fas fa-download"></i> Download Selected
        </button>
        <button id="copySelectedButton" class="action-menu-item">
            <i class="fas fa-copy"></i> Copy Selected
        </button>
        <button id="moveSelectedButton" class="action-menu-item">
            <i class="fas fa-arrow-right"></i> Move Selected
        </button>
        <button id="deleteSelectedButton" class="action-menu-item btn-danger">
            <i class="fas fa-trash-alt"></i> Delete Selected
        </button>
        <button id="cancelSelectionButton" class="action-menu-item">
            <i class="fas fa-ban"></i> Cancel
        </button>
    </div>
</div>