<div id="contextMenu" class="context-menu">
    <div class="menu-item" id="renameMenuItem">
        <i class="fas fa-edit"></i>
        <span>Rename</span>
    </div>
    <div class="menu-item" id="deleteMenuItem">
        <i class="fas fa-trash-alt"></i>
        <span>Delete</span>
    </div>
    <div class="menu-item" id="copyPathMenuItem">
        <i class="fas fa-clipboard"></i>
        <span>Copy Path</span>
    </div>
    <div class="menu-item" id="downloadMenuItem">
        <i class="fas fa-download"></i>
        <span>Download</span>
    </div>
</div>