<div id="pasteModal" class="modal">
    <div class="modal-content small processing-state">
        <div class="modal-header">
            <h3 id="pasteModalTitle">Paste Here</h3>
            <button id="closePasteModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="loading-state">
                <div class="loading-spinner"></div>
                <p id="pasteModalStatus">Copying items...</p>
                </div>
        </div>
    </div>
</div>