<div id="deleteModal" class="modal">
    <div class="modal-content small">
        <div class="modal-header">
            <h3>Confirm Delete</h3>
            <button id="closeDeleteModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete <strong id="deleteItemName"></strong>?</p>
            <div class="button-group">
                <button id="confirmDeleteButton" class="btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
                <button id="cancelDeleteButton" class="btn-secondary">
                    <i class="fas fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>