<div id="exportModal" class="modal">
    <div class="modal-content small">
        <div class="modal-header">
            <h3>Exporting Project...</h3>
            <button id="closeExportModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="loading-state">
                <div class="loading-spinner"></div>
                <p id="exportStatusMessage">Preparing files for export...</p>
            </div>
        </div>
    </div>
</div>
