<div id="headerActionsModal" class="modal">
    <div class="modal-content small">
        <div class="modal-header">
            <h3>Tools</h3>
            <button id="closeHeaderActionsModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="button-group-vertical">
                <button id="importGitButton" class="btn-primary">
                    <i class="bi bi-box-arrow-in-down"></i> Import from Git
                </button>
                <button id="uploadButton" class="btn-primary">
                    <i class="bi bi-upload"></i> Upload Zip
                </button>
                <button id="uploadFilesBtn" class="btn-primary">
                    <i class="fas fa-cloud-upload-alt"></i> Upload Files
                </button>
                <button id="exportButton" class="btn-primary">
                    <i class="fas fa-file-export"></i> Export to Zip
                </button>
                <button id="openTerminalButton" class="btn-primary">
                    <i class="fas fa-terminal"></i> Open Terminal
                </button>
            </div>
        </div>
    </div>
</div>