<div id="importModal" class="modal">
    <div class="modal-content small">
        <div class="modal-header">
            <h3>Import Project</h3>
            <button id="closeImportModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div id="dropZone" class="drop-zone">
                <i class="fas fa-cloud-upload-alt drop-icon"></i>
                <p>Drag & Drop your zip file here</p>
                <p>or</p>
                <input type="file" id="zipFileInput" class="hidden-file-input" accept=".zip">
                <label for="zipFileInput" class="btn-secondary file-label">
                    <i class="fas fa-file-upload"></i>
                    <span id="zipFileLabel">Choose File...</span>
                </label>
            </div>
            <div id="importLoadingState" class="loading-state" style="display: none;">
                <div class="loading-spinner"></div>
                <p id="importStatusMessage">Importing project...</p>
            </div>
            <div class="button-group">
                <button id="uploadZipButton" class="btn-primary">
                    <i class="fas fa-upload"></i> Upload & Import
                </button>
            </div>
        </div>
    </div>
</div>