<div id="processingModal" class="modal">
    <div class="modal-content small processing-state">
        <div class="modal-body">
            <div class="loading-state">
                <div class="loading-spinner"></div>
                <p>Processing request...</p>
            </div>
        </div>
    </div>
</div>
