<div id="renameModal" class="modal">
    <div class="modal-content small">
        <div class="modal-header">
            <h3>Rename Item</h3>
            <button id="closeRenameModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" id="renameNewName" class="input-field" placeholder="Enter new name...">
            <div class="button-group">
                <button id="saveRenameButton" class="btn-primary">
                    <i class="fas fa-save"></i> Save
                </button>
                <button id="cancelRenameButton" class="btn-secondary">
                    <i class="fas fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>