<div id="uploadFilesModal" class="modal"> <div 
    class="modal-content small">
        <div class="modal-header"> <h3>Upload 
            Multiple Files</h3> <button 
            id="closeUploadFilesModal" 
            class="btn-close">
                <i class="fas fa-times"></i> 
            </button>
        </div> <div class="modal-body"> <input 
            type="file" id="filesInput" 
            class="file-input" multiple /> <div 
            class="button-group">
                <button id="uploadFilesButton" 
                class="btn-primary">
                    <i class="fas 
                    fa-upload"></i> Upload
                </button> <button 
                id="cancelUploadFilesButton" 
                class="btn-secondary">
                    <i class="fas fa-ban"></i> 
                    Cancel
                </button> </div> </div> </div> 
</div>
