<div id="uploadModal" class="modal">
    <div class="modal-content small">
        <div class="modal-header">
            <h3>Upload Zip File</h3>
            <button id="closeUploadModal" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <input type="file" id="zipFileInput" class="file-input" accept=".zip" />
            <div class="button-group">
                <button id="uploadZipButton" class="btn-primary">
                    <i class="fas fa-upload"></i> Upload
                </button>
                <button id="cancelUploadButton" class="btn-secondary">
                    <i class="fas fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
